{{#each this}}
<li class="list-item">
    <h2 class="list-header">{{name}}</h2>
    <div class="list-flex-wrap">
        <ul>
            <li>
                <span>Capital</span>
                <span>{{capital}}</span>
            </li>
            <li>
                <span>Population</span>
                <span>{{population}}</span>
            </li>
            <li>
                <span>Languages</span>
                <ul>
                    {{#each languages}}
                    <li>{{name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
        <img src="{{flag}}" alt="{{name}}" width="250" />
    </div>
</li>
{{/each}}