{{#each this}}
<li class="country-list__item">
    <h2 class="country__header">{{name}}</h2>
    <div class="wrap">
        <ul class="stat-list wrap__item list">
            <li class="item">
                <span class="title">Capital: </span>
                <span>{{capital}}</span>
            </li>
            <li class="item">
                <span class="title">Population: </span>
                <span>{{population}}</span>
            </li>
            <li class="item">
                <span class="title">Languages: </span>
                <ul class="lang-list">
                    {{#each languages}}
                    <li class="item">{{name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
        <img src="{{flag}}" alt="{{name}}" width="400" class="wrap__item" />
    </div>
</li>
{{/each}}